.signup{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuH9sAbeXxSce2ItMpBE7wxYv8zkhvga4inQ&usqp=CAU") ;   
    background-size: cover;   
    height: 100vh;  
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;  
    object-fit: contain;     
}

.form{
background-color: #ffff;
padding:10px;
border: 1px ;
border-radius: 8px;

}


.signuplogo{
    width:100px;
    object-fit: contain;
    padding: 5px 5px;
}

.loginpara{
    color:rgb(168, 168, 168) ;
    font-weight: 400;
    line-height:20px;
    margin: 0px 40px 20px 40px;
    margin: 10px;
}

input{
    font-family:Arial, Helvetica, sans-serif ;
    padding: 3px;
    margin: 3px 0px;
    outline: none;
    font-size:12.5px;
    width:100%;
    box-sizing: border-box;
      
}
.form > div {
width: 80%;
margin: auto;
padding:2px;
}

#submit-btn{
    background-color: #1773ea;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 8px 8px;
    width: 80%;
    margin-top: 8px;
    cursor: pointer;
}


.form2{
    background-color: #fff;
    padding:20px;
    margin-top: 8px;
    border-radius: 8px;
}